<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="calculV1" class="org.sid.devoirarchi1.dao.CalculV1"/>
    <bean id="calculV2" class="org.sid.devoirarchi1.dao.CalculV2"/>
    <bean id="gestion" class="org.sid.devoirarchi1.metier.Gestion">
        <property name="cal" ref="calculV2"/>
    </bean>

</beans>